/* *, *::after, *::before {
    box-sizing: border-box;
} */

html, body {
    width: 100vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 50px auto;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
main {
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    width: 100%;
    height: 100vh;
}
.functions-web {
    background: #1e2c69;
    width: 80%;
    height: 30vh;
    border-radius: 15px;
    border-top-right-radius: 120px;
    margin: 15vh auto 20px auto;
    
}
.container-logo {
    display: inline-block;
    width: 100%;
    height: 50%;
    margin-top: 2vh;
}
.logo{
    width: 25vh;
    margin-top: 4vh;
    margin-left: 4.5vh;
}
.container-icon {
    background: #0d112e;
    display: inline-block;
    width: 7vh;
    height: 7vh;
    text-align: center;
    margin-left: 4.5vh;
    border-radius: 20%;
}
.icon {
    height: 50%;
    margin: 25% auto 25% auto;
}



.information-bar {
    position: relative;
    background: #1e2c69;
    width: 80%;
    height: 175px;
    border-radius: 15px;
    margin: 0px auto auto auto;
}
.text-information{
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 6% 5% 0px 5%;
    padding-top: 25px;
}

.container-charge-bar {
    background: #0d112e;
    width: 85%;
    height: 20px;
    border-radius: 10px;
    margin: 3% auto 1% auto;
    display: flex;
    align-items: center;
}
.charge-bar {
    background-image: linear-gradient(to right, #e5839b, #ed75a5, #f068b5, #ec5dca, #e057e3);
    width: 70%;
    height: 15px;
    border-radius: 7px;
    margin-left: 2.5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.charge-bar-circle {
    width: 12.5px;
    height: 12.5px;
    border-radius: 6.25px;
    background: white;
    margin-right: 2.5px;
}
.leyend-charge-bar-container {
    width: 85%;
    height: 20px;
    margin: 1.5% auto;
    display: flex;
    justify-content: space-between;
}
.leyend-charge-bar {
    display: inline-block;
    margin: 0px 0px;
    color: white;
}
.description-bar {
    right: 20%;
    bottom: -50px;
    position: absolute;
    background: white;
    width: 60%;
    height: 100px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.text-data-storage {
    font-size: 55px;
    display: inline-block;
    margin: 0px 0px;
    color: black;
}
.text-description{
    display: inline-block;
}

@media (min-width: 850px){
    .container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .functions-web {
        width: 30%;
        margin: 0 1% 300px 0;
    }
    .information-bar{
        width: 50%;
        margin: 0 0 300px 1%;
    }
    .logo {
        width: 50%;
    }
    .container-icon {
        margin-left: 2vw;
        width: 5vw;
        height: 5vw;
    }
    .text-information{
        padding-top: 0px;
        margin: 4% 2% 0px 9%;
        text-align: justify;
        font-size: 18px;
    }
    .container-charge-bar {
        margin: 3% auto 3% auto;
    }
    .description-bar {
        right: 7%;
        top: -50px;
        position: absolute;
        background: white;
        width: 30%;
        height: 70px;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .information-bar {
        height: 150px;
    }
    .triangle {
        height: 0px;
        width: 0px;
        border-right: 12px solid white;
        border-top: 12px solid white;
        border-left: 12px solid transparent;
        border-bottom: 12px solid transparent;
        right: 7%;
        top: 19px;
        position: absolute;
    }
    main {
        background-color: #0c122c;
        background-image: url("../images/bg-desktop1.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 100%;
        background-size: 100% 53%;
    }
}